In [1]:
import pandas as pd
from glob import glob
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Exploração e limpeza de dados

In [2]:
arquivos = sorted(glob('BaseDados/dados-abertos-*.csv'))

In [3]:
i = range(1,10)

In [4]:
dados = pd.concat((pd.read_csv(arquivo, 
                               sep = ';', 
                               encoding = 'utf-8', 
                               dtype='unicode') for arquivo in arquivos), 
                      ignore_index=True)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070670 entries, 0 to 1070669
Data columns (total 13 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tipo_infracao            1070670 non-null  object
 1   descricao                1070670 non-null  object
 2   tipo_infrator            1070670 non-null  object
 3   tipo_veiculo             1070623 non-null  object
 4   cometimento              1070670 non-null  object
 5   hora_cometimento         1070670 non-null  object
 6   auinf_local_rodovia      1070351 non-null  object
 7   auinf_local_km           196942 non-null   object
 8   auinf_local_referencia   188953 non-null   object
 9   auinf_local_complemento  30079 non-null    object
 10  auinf_local_latitude     185666 non-null   object
 11  auinf_local_longitude    185666 non-null   object
 12  grav_tipo                1070670 non-null  object
dtypes: object(13)
memory usage: 106.2+ MB

<b>Eliminando as colunas que não serão utilizadas no relatório</b>

In [6]:
dados.drop(columns=['auinf_local_km', 
                    'auinf_local_referencia', 
                    'auinf_local_complemento', 
                    'auinf_local_latitude', 
                    'auinf_local_longitude'],
           inplace=True)

<b>Limpando dados da coluna tipo_veiculo</b>

In [7]:
dados.tipo_veiculo = dados.tipo_veiculo.str.strip()

In [8]:
veiculo = ['Automóvel', 'Trator', 'Caminhão', 'Caminhonete', 'Microônibus', 'Utilitário', 'Semi-Reboque', 'Motorhome',
         'Motocicleta', 'Ônibus', 'Outros Ciclomotores', 'Outros']

correcao = [['Automovel'], ['C. Trator', 'Caminhao Trator', 'Caminhão Trator'], ['Caminhao'], ['Caminhonet', 'Camioneta'],
            ['Microonibu', 'Microonibus'], ['Utilitario'], ['S.Reboque'], ['Motor Casa', 'Motor-Casa'], ['Motociclet'],
            ['Onibus'], ['Triciclo', 'Ciclomotor'], 
            ['Bonde', 'Carro-De-Mão', 'Charrete', 'Chassi Plataforma', 'Side-Car', 'Tr Misto', 'Tr Rodas']]

for z in range(len(veiculo)):
    dados['tipo_veiculo'].replace(correcao[z], veiculo[z], inplace=True)

In [9]:
dados.tipo_veiculo.fillna('Sem informação', inplace=True)

In [10]:
dados.tipo_veiculo.unique()

array(['Automóvel', 'Caminhonete', 'Motocicleta', 'Utilitário', 'Ônibus',
       'Motoneta', 'Caminhão', 'Reboque', 'Microônibus', 'Trator',
       'Semi-Reboque', 'Sem informação', 'Motorhome',
       'Outros Ciclomotores', 'Outros', 'Bicicleta', 'Quadriciclo'],
      dtype=object)

<b>Exportando dados para análise no Power BI</b>

In [13]:
#dados.to_csv('arq_infracoes_bsb21.csv', index=False)